ZENDESK_URL=https://fugaku.zendesk.com
ZENDESK_OAUTH_CLIENT_IDENTIFIER=ops-support-tools_fugaku_relay
ZENDESK_OAUTH_CLIENT_SECRET_FILE=apps/zendesk_fugaku/secrets/zendesk_fugaku_oauth_client_secret
ZENDESK_OAUTH_REDIRECT_URI=http://localhost
ZENDESK_OAUTH_TOKEN_BUNDLE_FILE=apps/zendesk_fugaku/data/zendesk_oauth_token_bundle.json
ZENDESK_OAUTH_SCOPES=read write
ZENDESK_HTTP_TIMEOUT=30
