ZENDESK_URL=https://r-ccs.zendesk.com
ZENDESK_OAUTH_CLIENT_IDENTIFIER=ops-support-tools_zendesk_api
ZENDESK_OAUTH_CLIENT_SECRET_FILE=apps/zendesk_rccs/secrets/zendesk_rccs_oauth_client_secret
ZENDESK_OAUTH_REDIRECT_URI=http://localhost
ZENDESK_OAUTH_TOKEN_BUNDLE_FILE=apps/zendesk_rccs/data/zendesk_oauth_token_bundle.json
ZENDESK_OAUTH_SCOPES=read write
ZENDESK_HTTP_TIMEOUT=30
